.leftBar{
    color: rgb(160, 160, 160);
    border-right: solid;
    border-color: black;
    border-width: 1px;
    padding-right: 50px;
    height: 100vh;
    background-color: black;
    padding-left: 50px;
    position: fixed;
    z-index: 1;
    width: 6vw;
}

.leftBar__mainNav > h5{
    margin-bottom: 15px;
    font-weight: 700;
    background-color: black;
}

.leftBar__mainNav > h5:hover{
    color: white;
    font-weight: 700;
}

.leftBar__mainNav{
    margin-bottom: 10px;
    background-color: black;
}

.leftBar__library{
    background-color: black;
}

.leftBar__library > p{
    font-size: 15px;
    color: gray;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: black;
}

.leftBar__library > h5{
    margin-bottom: 15px;
    font-weight: 600;
    background-color: black;
}

.leftBar__library > h5:hover{
    color: white;
    font-weight: 600;
}

.leftBar__playlists{
    background-color: black;
}

.leftBar__playlists > p{
    font-size: 15px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: black;
}

.leftBar__playlists > h5{
    margin-bottom: 15px;
    font-weight: 500;
    background-color: black;
}

.leftBar__playlists > h5:hover{
    color: white;
    font-weight: 500;
}