.login {
    min-height: 38vh;
    position: absolute;
    top: 30%;
    left: 35%;
    border: solid;
    border-color: black;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 90px;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login__image > img {
    width: 210px;
    object-fit: contain;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;

}

.login__text {
    margin-top: -5px;
    padding-top: 15px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: black;
    padding-bottom: 15px;
}

.register__button {
    background-color: #1DB954;
    border: none;
    margin-top: 10px;
    width: 275px;
    padding-left: 115px;
    padding-right: 115px;
    position: absolute;
    margin-left: -25px;
    border-radius: 20px;
    color: black;
    text-align: center;
    position: fixed;
    font-family: 'Proxima Nova';
    padding-top: 10px;
    padding-bottom: 10px;
}

.register__button:hover {
    background-color: #30A25A;
}

.login__button:hover {
    background-color: #30A25A;
    color: white;
}

.login__input {
    background-color: black;
}

.login__input > input {
    width: 212px;
    margin-bottom: 10px;
    border: none;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Proxima Nova';
}

.login__button {
    background-color: white;
    border: none;
    margin-top: 65px;
    padding-left: 115px;
    padding-right: 115px;
    position: absolute;
    margin-left: -25px;
    border-radius: 20px;
    color: black;
    text-align: center;
    position: fixed;
    font-family: 'Proxima Nova';
    padding-top: 10px;
    padding-bottom: 10px;
}