.mainContent{
    color: white;
    margin-left: 20px;
    z-index: 1;
    /* background: rgb(32, 32, 32); */
}

.mainContent > h1{
    position: fixed;
    left: 290px;
    top: 70px;
}

.mainContent__search{
    background: white;
    border-radius: 30px;
    margin-bottom: 50px;
    width: 180px;
    height: 20px;
    position: fixed;
    margin-left: 200px;
}

.mainContent__search{
    display: flex;
    margin-top: 20px;
}

.mainContent__top{
    display: flex;
}

.mainContent__topRight{
    display: flex;
    margin-top: 10px;
    position: fixed;
    right: 350px;
}

.mainContent__topRight > button{
    background-color: black;
    color: white;
    padding: 10px;
    width: 200px;
    height: 50px;
    border-color: white;
    border-width: 1px;
    border-radius: 40px;
    color: white;
    margin-right: 50px;
}

.mainContent__userInfo{
    display: flex;
    background-color: black;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 3px;
    margin-left: 5px;
    margin-top: -5px;
    height: 48px;
    border-radius: 100px;
}

.mainContent__userInfo > img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.mainContent__userInfo > p{
    margin-top: 10px;
    margin-left: 10px;
    background-color: black;
    font-weight: 800;
}

.mainContent__songRow {
    position: absolute;
    left: 250px;
    top: 200px;
}